.showTaskTitle {
  text-align: center;
}

.tableContainer {
  width: 20rem;
}

.centerTable {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.editButtonContainer{
  text-align: center;
}

.editTextField{
  width: 8rem;
}