.showTaskTitle {
  text-align: center;
}

.tableContainer {
  width: 60vh;
}

.centerTable {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.editButtonContainer{
  text-align: center;
}

.editTextField{
  width: 10rem;
}